.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #24232b;
  padding: 24px;
  width: 500px;
}

.sub-header {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 24px;
}

button {
  border: none;
  background-color: #2a8b8b;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.charLength {
  display: flex;
  flex-direction: column;
  color: white;
}

.charLengthLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: auto auto;
  color: white;
  font-weight: 700;
  font-size: 16px;
  margin: 24px 0;
  justify-content: space-between;
}

.checkboxes div {
  display: flex;
  gap: 5px;
  padding-bottom: 25px;
}

.strength {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.genPasswordBtn {
  width: 100%;
  font-size: 16px;
  padding: 20px 0;
}
