.nav-items ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-items ul li {
  list-style: none;
  border: 2px solid white;
  width: 15%;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #847fee;
  color: white;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-items ul li:hover {
  background-color: #010435;
  padding: 10px 25px;
}

.project-type a {
  color: white !important;
}
