@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Work+Sans:wght@200&display=swap");

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 79.3vh;
  font-family: "Gochi Hand", cursive;
  background-color: white;
}

.showOfferBtn {
  border: 1px solid black;
  border-radius: 0;
  background-color: lightgray;
  color: black;
  font-family: "Gochi Hand", cursive;
  text-transform: none;
  font-size: 1.2rem;
}

.container {
  background-color: rgb(0, 0, 0, 0.54) !important;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;
  justify-content: center;
}

.dialog {
  height: 250px;
  width: 300px;
  background-color: white;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid black;
}

.close-icon {
  background: none;
  color: black;
  border: 1px solid;
  border-radius: 0;
  margin: 10px;
}

.dialog-content {
  color: black;
  padding: 0 20px;
}

.dialog-footer {
  align-self: center;
  padding-bottom: 20px;
}

.offerAcceptedText {
  color: black;
  font-size: 1.2rem;
}
